body {
  background: linear-gradient(to right, #a1c4fd, #c2e9fb);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 50px;
  text-align: center;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

h1, h2 {
  color: #007bff;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"], form input[type="email"], form input[type="password"], form input[type="date"], form select, form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

form button {
  align-self: center;
  padding: 10px 25px;
  font-size: 16px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #007bff;
  color: white;
}

form button:hover {
  opacity: 0.8;
}

button {
  padding: 10px 25px;
  font-size: 16px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

button:not(.view-btn, .update-btn, .delete-btn, .back-btn, .login-btn) {
  background-color: #007bff;
  color: white;
}

button:not(.view-btn, .update-btn, .delete-btn, .back-btn, .login-btn):hover {
  background-color: #0056b3;
}

.view-btn {
  background-color: #4CAF50;
  color: white;
}

.update-btn {
  background-color: #03A9F4;
  color: white;
  align-self: center;
}

.delete-btn {
  background-color: #E74C3C;
  color: white;
}

.back-btn {
  background-color: #333;
  color: white;
}

.login-btn {
  background-color: #03A9F4;
  color: white;
}

button:hover {
  opacity: 0.8;
}

table {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #999;
  padding: 12px;
}

img {
  border-radius: 8px;
  margin-top: 10px;
}
