<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Password Recovery</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="background">
  <div class="form-container">
    <h2>Your Password</h2>
    <p style="font-weight: bold;">Email: {{ student['email'] }}</p>
    <p style="font-weight: bold; color: green;">Password: {{ student['password'] }}</p>

    <div class="link-buttons">
      <a href="{{ url_for('student_login') }}">Back to Login</a>
      <a href="{{ url_for('welcome') }}">Home</a>
    </div>
  </div>
</body>
</html>